<div>
    <h1><%= title %></h1>
    <p>Welcome to here.</p>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        //$.post('http://101.37.24.216:3101/user/info', { id: 15 }, (response) => { console.log(response); });
        //$.post('/user/info', { id: 15 }, (response) => { console.log(response); });
        //$.post('/user/reset-password', { id: 9, operate_user: 4 }, (response) => { console.log(response); });
        //$.post('/user/change-password', { id: 9, original_pwd: '111', new_pwd: '222' }, (response) => { console.log(response); });
        //$.post('/user/set-enable', { id: 9, enable: 1, operate_user: 4 }, (response) => { console.log(response); });
        //$.post('/user/create', {
        //    user_name: 'LLJhsz3', real_name: '黑猫警长', role: '护士张', depart_id: 10, profession: '助产', level: 'N 3', education: '博士生', school: '广西工学院', graduated_year: 2010,
        //    certificate: 1, certificate_date: '2003-09-01', title: '主任护师', title_date: '2004-10-01', address: '农贸大市场', join_year: 2005, job_year: 2006,
        //    birthday: '1990-11-11', telephone: '13712345677', sex: 0, batch: 2015, operate_user: 1
        //}, (response) => {
        //    console.log(response);
        //});
        //$.post('/user/create', {
        //    user_name: 'LLJhlb3', real_name: '灰太狼', role: '护理部', operate_user: 1
        //}, (response) => {
        //    console.log(response);
        //});
        //$.post('/user/update', {
        //    id: 16, user_name: 'LLJhs9', real_name: '葫芦娃2娃', role: '护士', depart_id: 31, profession: '护理', level: 'N 3', education: '研究生', school: '广西工学院', graduated_year: 2010,
        //    certificate: 0, certificate_date: '2003-09-02', title: '副主任护师', title_date: '2004-10-02', address: '农贸大市场', join_year: 2005, job_year: 2006,
        //    birthday: '1991-11-11', telephone: '13712345679', sex: 0, batch: 2018, operate_user: 1
        //}, (response) => {
        //    console.log(response);
        //});
        //$.post('/user/update', {
        //    id: 4, user_name: 'LLJhlb3', real_name: '光头强强头光', role: '护理部', operate_user: 1
        //}, (response) => {
        //    console.log(response);
        //});
        //$.post('/user/delete', { id: 9, operate_user: 4 }, (response) => { console.log(response); });
        //$.post('/user/nurse-count', { id: 4 }, (response) => { console.log(response); });
        $.post('/user/nurse-pagination', { id: 4, index: 2, size: 10 }, (response) => { console.log(response); });
        //$.post('/department/info', { id: 15 }, (response) => { console.log(response); });
        //$.post('/department/count', { id: 1 }, (response) => { console.log(response); });
        //$.post('/department/pagination', { id: 1, index: 2, size: 20 }, (response) => { console.log(response); });
        //$.post('/department/range', { id: 1 }, (response) => { console.log(response); });
        //$.post('/department/update', { id: 1, depart_id: 55, depart_name: '测试科室2', range_id: 4 }, (response) => { console.log(response); });
        //$.post('/department/delete', { id: 1, depart_id: 55 }, (response) => { console.log(response); });
    });
</script>